<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ion-padding">
    <div class="wesched-logo">
      <img src="../assets/we-sched.png" alt="">
      <div class="text-description">
        <h5>A best way to schedule an event within an organization or group.</h5>
        <ion-button color="success" class="get-started">Get Started</ion-button>
        <h6>Information System Developers | V 1.0.0</h6>
      </div>
    </div> 
  </div>
</ion-content>
