.wesched-logo{
    margin-top: 50px;
}
.text-description{
    text-align: center;
}
.text-description h5{
    color: gray;
    font-size: 14px;
}
.text-description h6{
    color: gray;
    font-size: 10px;
    margin: 0;
    margin-top: 100px;
}